.hometitle{
	/*position: relative;*/
	/*left: 50%;*/
	/*top: 50%;*/
	/*transform: translate(-50%,-50%);*/
    display: none;
}

.pages_con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*overflow: hidden;*/
}

.pages {
    height: 600px;
    position: relative;
}

.page1 {
    background-color: rgb(235, 113, 35);
}

.page2 {
    background-color: rgb(100, 160, 64);
}

.page3 {
    background-color: rgb(27, 38, 83);
}

.page4 {
    background-color: rgb(33, 141, 187);
}

.page5 {
    background-color: gold;
}

.points {
    width: 13px;
    height: 176px;
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translate(0, -50%);
}

.points li {
    width: 13px;
    height: 13px;
    margin: 16px 0;
    border-radius: 50%;
    border: 1px solid #666;
    cursor: pointer;
}

.points li.active {
    background-color: #666;
}

.main_con {
    width: 800px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main_con .left_img {
    width: 350px;
    height: 800px;
    float: left;
    position: relative;
    left: -50px;
    opacity: 0;
    filter: alpha(opactiy=0);
    transition: all 1000ms ease 300ms;
}

.main_con .right_info {
    width: 400px;
    height: 300px;
    margin-top: 200px;
    font: normal 20px/50px 'Microsoft Yahei';
    color: #666;
    text-indent: 2.0rem;
    /*使文字两端对齐*/
    text-align: justify;
    position: relative;
    float: right;
    right: -50px;
    opacity: 0;
    filter: alpha(opactiy=0);
    transition: all 1000ms ease 300ms;
}

.moving .main_con .left_img {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.moving .main_con .right_info {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.main_con .right_img {
    width: 350px;
    height: 800px;
    float: right;
    position: relative;
    top: -50px;
    opacity: 0;
    filter: alpha(opactiy=0);
    transition: all 1000ms ease 300ms;
}

.main_con .left_info {
    width: 400px;
    height: 300px;
    margin-top: 200px;
    float: left;
    font: normal 20px/50px 'Microsoft Yahei';
    color: #666;
    text-indent: 2.0rem;
    /*使文字两端对齐*/
    text-align: justify;
    position: relative;
    bottom: -50px;
    opacity: 0;
    filter: alpha(opactiy=0);
    transition: all 1000ms ease 300ms;
}

.moving .main_con .right_img {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.moving .main_con .left_info {
    bottom: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.main_con .center_img {
    width: 420px;
    height: 680px;
    position: relative;
    bottom: -50px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 1000ms ease 300ms;
}

.moving .main_con .center_img {
    bottom: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.totop {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #000;
    color: #fff;
    font: bold 24px/60px 'Open Sans Light';
    text-align: center;
    cursor: pointer;
    z-index: 10;
}

.modify {
    width: 60px;
    height: 40px;
    border-radius: 3px;
    position: absolute;
    right: 300px;
    top: 100px;
    background-color: #ffffff;
    border: 1px solid #000000;
    font: 14px/40px 'Open Sans Light';
    text-align: center;
    cursor: pointer;
    z-index: 10;
}
