{% extends 'article/base.html' %}
{% load static %}
{% block title %}编辑帖子{% endblock %}
{% block content %}
    <div style="margin: 20px;">
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="row">
                <span><strong>栏目:</strong></span>
                <select id="which_column">
                    {% for column in article_columns %}
                        {% if column == this_article_column %}
                            <option value="{{ column.id }}" selected="selected">{{ column.column }}</option>
                        {% else %}
                            <option value="{{ column.id }}">{{ column.column }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="row" style="margin-top: 10px">
                {{ this_article_form.media }}
                {{ this_article_form.as_p }}
            </div>
            <div class="row">
                <input type="button" class="btn btn-primary btn-lg" value="发布" onclick="redit_article()">
            </div>
        </form>
    </div>
    <script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script type="text/javascript">
        function redit_article() {
            var title = $("#id_title").val();
            var column_id = $("#which_column").val();
            var body = $("#id_body").val();
            $.ajax({
                url: "{% url 'article:redit_article' article.id %}",
                type: "POST",
                data: {"title": title, "body": body, "column_id": column_id},
                success: function (e) {
                    if (e == "1") {
                        layer.msg("成功");
                        location.href = "{% url 'article:article_list' %}";
                    } else {
                        layer.msg("提交失败");
                    }
                },
            });
        }
    </script>
{% endblock %}