{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}晶晨羽毛球{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/us.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
</head>

<body>
{% block header %}
    {% include 'header.html' %}
{% endblock %}
<div class="container-fluid">
    <div class="row">
        {% block sidebar %}
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">

                    <li class="active"><a href="{% url 'index' %}">选手名单<span
                            class="sr-only">(current)</span></a>
                    </li>
                    <li ><a href="{% url 'image:fall_image' %}">选手风采<span
                            class="sr-only">(current)</span></a>
                    </li>

                    <li><a href="{% url 'article:article_title' %}">羽球论坛<span
                            class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="{% url 'announcement' %}">羽球宣传<span
                            class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        {% endblock %}
        {% block content %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">名单</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>头像</th>
                            <th>名字</th>
                            <th>性别</th>
                            <th>部门</th>
                            <th>排名</th>
                            <th>参赛</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in userinfos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if i.photo %}
                                        <img src="{{ i.photo.url }}" alt="头像" style="width: 50px;border-radius: 50%">
                                    {% else %}
                                        <img name="user_face" src="{% static 'images/badminton.jpg' %}"
                                             class="img-circle"
                                             id="my_photo" style="width:50px;border-radius: 50px">
                                    {% endif %}
                                </td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.get_sex_display }}</td>
                                <td>{{ i.depart }}</td>
                                <td>{{ i.rank }}</td>
                                <td>{{ i.get_stage_display }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'paginator.html' %}
                    {#                    {% if is_paginated %}#}
                    {#                        <div class="pagination">#}
                    {#                    <span class="page-links">#}
                    {#                        {% if page_obj.has_previous %}#}
                    {#                            <a href="/index?page={{ page_obj.previous_page_number }}">上一页</a>#}
                    {#                        {% endif %}#}
                    {#                        {% if page_obj.has_next %}#}
                    {#                            <a href="/index?page={{ page_obj.next_page_number }}">下一页</a>#}
                    {#                        {% endif %}#}
                    {#                        <span class="page-current">#}
                    {#                            第{{ page_obj.number }}页 ，共{{ page_obj.paginator.num_pages }}页。#}
                    {#                        </span>#}
                    {#                    </span>#}
                    {#                        </div>#}
                    {#                    {% endif %}#}
                </div>
            </div>

        {% endblock %}
    </div>
</div>
{% include "footer.html" %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
{#    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>#}
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</body>
</html>